@import url('https://fonts.googleapis.com/css2?family=Anton&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Oleo+Script:wght@400;700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* step -1  always*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #02162e;
    color: white;
}

/* Stpe-2 utility classes */
li {
    list-style: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/* step-3 custom properties */
#Main-Header-Container {
    color: white;
}

/* here i style nav element */
Nav {
    padding-inline: 30px;
    background-color: #061f3e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
    font-family: sans-serif;
}

/* here i style company logo */
nav #Company-Logo {
    display: flex;
    align-items: center;
    gap: 60px;
}

/* here i style company logo heading*/
#Company-Logo h1 {
    font-size: 40px;
    font-weight: 600;
    color: rgb(216, 90, 27);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

#Company-Logo h1:hover {
    transform: scale(1.1);
    /* transform: rotateX(180deg); */
    /* transform: rotateY(180deg); */
    /* transform: skew(180deg) */
    /* transform:translate3d(10px, 10px, 10px); */
}

/* here i style company logo heading*/
nav #Company-Logo p {
    cursor: pointer;
    font-size: 20px;
}

/* here i style company logo heading*/
nav #Company-Logo p span {
    color: #d85a1b;
    text-transform: capitalize;
}

/* here i style company logo heading*/
nav #Nav-links .Nav-List {
    display: flex;
    align-items: center;
    gap: 40px;
}

/* here i style company logo heading*/
nav #Nav-links .Nav-List li a {
    white-space: nowrap;
    font-size: 20px;
    transition: all 0.2s ease-in-out;

}

/* here i style company logo heading*/
nav #Nav-links .Nav-List li .indicat-active {
    border-top: 3px solid #d85a1b;
    margin-bottom: 9px;
    color: #d85a1b;
}

nav #Nav-links .Nav-List li .inidicator-anchor-permanent {
    color: #d85a1b;
}

nav #Nav-links .Nav-List li .indicator {
    border-top: 3px solid transparent;
    margin-bottom: 9px;
    transition: all 0.2s ease-in-out;
}

nav #Nav-links .Nav-List li:hover .indicator {
    border-top: 3px solid #d85a1b;
}

nav #Nav-links .Nav-List li .inidicator-anchor:hover {
    color: #d85a1b;

}

.menu-icon {
    width: 40px;
    display: none;
}

.menu-icon img {
    width: 100%;
}

/* styling menu */
nav #Nav-links .Services-Menu {
    position: relative;
}

#Nav-links .Services-Menu .Sub-ServicesMenu {
    position: absolute;
    display: none;
    background-color: #9f3e0e;
    border-radius: 10px;
    overflow: hidden;
    left: -4px
}

#Nav-links .Services-Menu .Sub-ServicesMenu li {
    padding-inline: 30px;
    font-size: 25px;
}

#Nav-links .Services-Menu .Sub-ServicesMenu li:hover {
    background-color: #eb7337;
}

#Nav-links .Services-Menu:hover .Sub-ServicesMenu {
    display: block;
}

/* hero section */
#Hero-Section {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    margin-top: 90px;
    font-family: "Philosopher", sans-serif;
    color: #e5f0f5;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 30px;
}

#Hero-Section .hero-image {
    width: 100%;
    max-width: 300px;
    position: relative;
}

#Hero-Section .hero-image .hover-images {
    width: 100%;
    max-width: 300px;
    position: absolute;
    right: 0;
    border: 5px solid white;
    border-radius: 10px;
}

#Hero-Section .hero-image .hero-image-first {
    top: 0;
    left: -150px;
    transition: all 0.6s ease-in-out;
}

/* first image hover effect */
#Hero-Section .hero-image .hero-image-first:hover {
    transform: scale(1.1);
    z-index: 1
}

#Hero-Section .hero-image .hero-image-second {
    top: 70px;
    left: 0px;
    transition: all 0.6s ease-in-out;
}

/* second image hover effect */
#Hero-Section .hero-image .hero-image-second:hover {
    transform: scale(1.1);
    z-index: 1
}

#Hero-Section .hero-image .hero-image-third {
    top: 190px;
    left: -80px;
    transition: all 0.6s ease-in-out;
}

/* first image hover effect */
#Hero-Section .hero-image .hero-image-third:hover {
    transform: scale(1.1);
    z-index: 1
}

/* hover effect on images */

.showpage-1 {
    display: none;
}

.showpage-2 {
    display: none;
}

.showpage-3 {
    display: block;
}

#Hero-Section .hero-image .hero-image-first:hover~div .showpage-1 {
    display: block;
    background-color: red;
}

#Hero-Section .hero-image .hero-image-first:hover~.showpage-3 {
    display: none;
}





/* text style */
.hero-text {
    position: absolute;
    left: 0;
}

.hero-text .hero-subchild {}


.hero-text .hero-para-first {
    font-size: 30px;
    color: #d85a1b;
}

.hero-text .main-hero-font {
    font-size: 42px;
    line-height: 62px;
}

.hero-text .hero-para-second {
    width: 100%;
    max-width: 60%;
    margin-top: 20px;
    font-size: 17px;
}

.hero-text button {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #d85a1b;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
}


























/* Rersponsive */

@media (max-width:1080px) {

    nav #Nav-links {
        display: none;
    }

    .menu-icon {
        width: 40px;
        display: block;
        cursor: pointer;
    }

}


@media (max-width:640px) {

    /* styling nav element */
    Nav {
        padding-inline: 10px;
    }

    /* menu bar and nevigation */
    nav #Nav-links {
        display: none;
    }

    /* hamburger menu */
    .menu-icon {
        width: 30px;
        display: block;
        cursor: pointer;
    }

    /* company logo and contact number */
    nav #Company-Logo h1 {
        font-size: 30px;
    }

    nav #Company-Logo p {
        display: none;
    }


}